.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.940918;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.098633;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.098633;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.940918;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._10{margin-left:-2.544000px;}
._5{margin-left:-1.536000px;}
._a{width:1.584000px;}
._11{width:3.072000px;}
._b{width:36.000000px;}
._c{width:56.016000px;}
._d{width:73.344000px;}
._e{width:97.392000px;}
._6{width:165.312000px;}
._f{width:210.720000px;}
._0{width:253.296000px;}
._1{width:272.448000px;}
._9{width:310.656000px;}
._4{width:370.704000px;}
._3{width:432.000000px;}
._2{width:436.032000px;}
._7{width:477.312000px;}
._8{width:485.328000px;}
._12{width:823.296000px;}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:40.000000px;}
.fs0{font-size:44.000000px;}
.fs2{font-size:48.000000px;}
.fs4{font-size:52.000000px;}
.fs3{font-size:68.000000px;}
.y23{bottom:3.596001px;}
.y18{bottom:3.812001px;}
.y27{bottom:4.171001px;}
.y2b{bottom:5.929001px;}
.y1a{bottom:6.288000px;}
.y20{bottom:9.886999px;}
.y29{bottom:11.608002px;}
.y1c{bottom:14.011999px;}
.y2{bottom:15.547001px;}
.y22{bottom:17.395000px;}
.y2a{bottom:18.578002px;}
.y25{bottom:25.335999px;}
.y21{bottom:31.410001px;}
.y28{bottom:45.918987px;}
.y0{bottom:46.500000px;}
.y26{bottom:61.367985px;}
.y4a{bottom:69.560977px;}
.y1f{bottom:76.816986px;}
.y24{bottom:76.816988px;}
.y1e{bottom:104.414986px;}
.y1d{bottom:119.863987px;}
.y1b{bottom:119.863989px;}
.y49{bottom:121.297000px;}
.y19{bottom:135.312987px;}
.y48{bottom:147.164981px;}
.y17{bottom:155.712986px;}
.y16{bottom:188.026993px;}
.y47{bottom:188.901004px;}
.y15{bottom:203.894992px;}
.y46{bottom:204.768997px;}
.y45{bottom:220.636996px;}
.y14{bottom:229.763003px;}
.y44{bottom:236.504990px;}
.y43{bottom:252.372989px;}
.y13{bottom:255.631015px;}
.y42{bottom:268.241000px;}
.y12{bottom:281.498996px;}
.y41{bottom:284.109012px;}
.y40{bottom:299.976993px;}
.y11{bottom:307.367007px;}
.y2c{bottom:313.500000px;}
.y3f{bottom:315.845004px;}
.y3e{bottom:331.712997px;}
.y10{bottom:333.234988px;}
.y3d{bottom:347.580997px;}
.yf{bottom:359.103000px;}
.y3c{bottom:363.449008px;}
.y3b{bottom:379.317001px;}
.ye{bottom:384.971011px;}
.y3a{bottom:395.185000px;}
.yd{bottom:410.838992px;}
.y39{bottom:411.053012px;}
.yc{bottom:436.707004px;}
.y38{bottom:436.920993px;}
.yb{bottom:462.575000px;}
.y37{bottom:462.789001px;}
.y36{bottom:478.657001px;}
.ya{bottom:488.442996px;}
.y35{bottom:494.524994px;}
.y34{bottom:510.392993px;}
.y9{bottom:514.311007px;}
.y33{bottom:526.261004px;}
.y8{bottom:540.179004px;}
.y32{bottom:555.927997px;}
.y7{bottom:566.047000px;}
.y31{bottom:569.727000px;}
.y30{bottom:583.525996px;}
.y6{bottom:593.644999px;}
.y2f{bottom:607.325000px;}
.y5{bottom:608.525003px;}
.y2e{bottom:633.193000px;}
.y2d{bottom:649.061000px;}
.y4{bottom:664.929000px;}
.y3{bottom:690.797000px;}
.y1{bottom:722.451000px;}
.h7{height:16.949001px;}
.h9{height:21.900000px;}
.hb{height:29.098000px;}
.he{height:32.398003px;}
.h6{height:33.328125px;}
.h3{height:36.113281px;}
.ha{height:37.348999px;}
.hf{height:39.208984px;}
.h4{height:42.773438px;}
.hc{height:44.547001px;}
.h8{height:46.337891px;}
.h2{height:51.549000px;}
.hd{height:59.995998px;}
.h5{height:60.595703px;}
.h10{height:460.500000px;}
.h1{height:727.500000px;}
.h0{height:792.000000px;}
.w6{width:74.400002px;}
.w5{width:114.000000px;}
.w4{width:155.399994px;}
.w7{width:162.600006px;}
.w2{width:235.500000px;}
.w3{width:267.899994px;}
.w8{width:494.500000px;}
.w1{width:515.000000px;}
.w0{width:612.000000px;}
.xe{left:-1.400000px;}
.x1{left:0.000000px;}
.xf{left:3.450000px;}
.x6{left:6.150000px;}
.xc{left:7.950000px;}
.xb{left:11.550000px;}
.x9{left:42.489001px;}
.x0{left:51.000000px;}
.x8{left:55.100001px;}
.x5{left:72.000000px;}
.x12{left:85.500000px;}
.x10{left:90.000000px;}
.x11{left:108.000000px;}
.xd{left:123.450001px;}
.x14{left:148.500000px;}
.x2{left:171.044998px;}
.x4{left:180.000000px;}
.x3{left:216.000000px;}
.x7{left:284.549999px;}
.x13{left:288.000000px;}
.xa{left:438.449993px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._10{margin-left:-3.392000pt;}
._5{margin-left:-2.048000pt;}
._a{width:2.112000pt;}
._11{width:4.096000pt;}
._b{width:48.000000pt;}
._c{width:74.688000pt;}
._d{width:97.792000pt;}
._e{width:129.856000pt;}
._6{width:220.416000pt;}
._f{width:280.960000pt;}
._0{width:337.728000pt;}
._1{width:363.264000pt;}
._9{width:414.208000pt;}
._4{width:494.272000pt;}
._3{width:576.000000pt;}
._2{width:581.376000pt;}
._7{width:636.416000pt;}
._8{width:647.104000pt;}
._12{width:1097.728000pt;}
.fs1{font-size:53.333333pt;}
.fs0{font-size:58.666667pt;}
.fs2{font-size:64.000000pt;}
.fs4{font-size:69.333333pt;}
.fs3{font-size:90.666667pt;}
.y23{bottom:4.794668pt;}
.y18{bottom:5.082668pt;}
.y27{bottom:5.561335pt;}
.y2b{bottom:7.905334pt;}
.y1a{bottom:8.384000pt;}
.y20{bottom:13.182666pt;}
.y29{bottom:15.477336pt;}
.y1c{bottom:18.682666pt;}
.y2{bottom:20.729335pt;}
.y22{bottom:23.193334pt;}
.y2a{bottom:24.770669pt;}
.y25{bottom:33.781331pt;}
.y21{bottom:41.880001pt;}
.y28{bottom:61.225316pt;}
.y0{bottom:62.000000pt;}
.y26{bottom:81.823980pt;}
.y4a{bottom:92.747969pt;}
.y1f{bottom:102.422648pt;}
.y24{bottom:102.422651pt;}
.y1e{bottom:139.219981pt;}
.y1d{bottom:159.818649pt;}
.y1b{bottom:159.818652pt;}
.y49{bottom:161.729333pt;}
.y19{bottom:180.417316pt;}
.y48{bottom:196.219975pt;}
.y17{bottom:207.617315pt;}
.y16{bottom:250.702657pt;}
.y47{bottom:251.868005pt;}
.y15{bottom:271.859989pt;}
.y46{bottom:273.025330pt;}
.y45{bottom:294.182662pt;}
.y14{bottom:306.350671pt;}
.y44{bottom:315.339986pt;}
.y43{bottom:336.497318pt;}
.y13{bottom:340.841353pt;}
.y42{bottom:357.654667pt;}
.y12{bottom:375.331994pt;}
.y41{bottom:378.812016pt;}
.y40{bottom:399.969323pt;}
.y11{bottom:409.822676pt;}
.y2c{bottom:418.000000pt;}
.y3f{bottom:421.126672pt;}
.y3e{bottom:442.283997pt;}
.y10{bottom:444.313318pt;}
.y3d{bottom:463.441329pt;}
.yf{bottom:478.804000pt;}
.y3c{bottom:484.598677pt;}
.y3b{bottom:505.756002pt;}
.ye{bottom:513.294682pt;}
.y3a{bottom:526.913334pt;}
.yd{bottom:547.785323pt;}
.y39{bottom:548.070683pt;}
.yc{bottom:582.276005pt;}
.y38{bottom:582.561324pt;}
.yb{bottom:616.766666pt;}
.y37{bottom:617.052002pt;}
.y36{bottom:638.209334pt;}
.ya{bottom:651.257328pt;}
.y35{bottom:659.366659pt;}
.y34{bottom:680.523991pt;}
.y9{bottom:685.748010pt;}
.y33{bottom:701.681339pt;}
.y8{bottom:720.238672pt;}
.y32{bottom:741.237329pt;}
.y7{bottom:754.729333pt;}
.y31{bottom:759.636000pt;}
.y30{bottom:778.034662pt;}
.y6{bottom:791.526666pt;}
.y2f{bottom:809.766666pt;}
.y5{bottom:811.366671pt;}
.y2e{bottom:844.257333pt;}
.y2d{bottom:865.414666pt;}
.y4{bottom:886.572000pt;}
.y3{bottom:921.062667pt;}
.y1{bottom:963.268000pt;}
.h7{height:22.598668pt;}
.h9{height:29.199999pt;}
.hb{height:38.797333pt;}
.he{height:43.197337pt;}
.h6{height:44.437500pt;}
.h3{height:48.151042pt;}
.ha{height:49.798665pt;}
.hf{height:52.278646pt;}
.h4{height:57.031250pt;}
.hc{height:59.396001pt;}
.h8{height:61.783854pt;}
.h2{height:68.732000pt;}
.hd{height:79.994665pt;}
.h5{height:80.794271pt;}
.h10{height:614.000000pt;}
.h1{height:970.000000pt;}
.h0{height:1056.000000pt;}
.w6{width:99.200002pt;}
.w5{width:152.000000pt;}
.w4{width:207.199992pt;}
.w7{width:216.800008pt;}
.w2{width:314.000000pt;}
.w3{width:357.199992pt;}
.w8{width:659.333333pt;}
.w1{width:686.666667pt;}
.w0{width:816.000000pt;}
.xe{left:-1.866667pt;}
.x1{left:0.000000pt;}
.xf{left:4.600000pt;}
.x6{left:8.200000pt;}
.xc{left:10.600000pt;}
.xb{left:15.400000pt;}
.x9{left:56.652001pt;}
.x0{left:68.000000pt;}
.x8{left:73.466668pt;}
.x5{left:96.000000pt;}
.x12{left:114.000000pt;}
.x10{left:120.000000pt;}
.x11{left:144.000000pt;}
.xd{left:164.600001pt;}
.x14{left:198.000000pt;}
.x2{left:228.059998pt;}
.x4{left:240.000000pt;}
.x3{left:288.000000pt;}
.x7{left:379.399999pt;}
.x13{left:384.000000pt;}
.xa{left:584.599991pt;}
}
