@import '~antd/dist/antd.css';
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.app-label {
  text-align: end;
}

.app-from-group {
  margin-bottom: 10px;
}

.content-center {
  justify-content: center;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.w10 {
  width: 10%;
  align-self: center;
}

.A4 {
  width: 29.7cm;
  height: 21cm;
  position: relative;
  overflow: hidden;
}

.page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
}

.section {
  position: relative;
  height: 21cm;
  background: #634676;
}

.w100 {
  width: 100%;
}
.bold {
  font-weight: 600;
}

.fixed {
  position: fixed;
  width: 100%;
  z-index: 1031;
  top: 0;
}